
*{
    color: #fff;
}
.seccao_sobre{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0,0,0,.5)),url('../../assets/img/novo.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height:100vh !important;
   
}

