

.imagemTop{

    border: 2px solid #18d26e;
    padding: 8px;
}

.imagemTop:hover{
    border: 2px solid #fff;
}

.meuBotton{
    
    color: #ffffff;
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: .2em;
    border: 2px solid #fff !important;
    background-color: #000;
    font-size: .9em;
}

.meuBotton:hover{

    background-color: #18d26e;
    
}

.olhos{
    font-size: 1.8em;
    margin: auto;
    position: relative;
}
.textoBaixo{
    padding: 8px;
}

.textoBaixo h6{
    margin: 4px 0;
    font-weight: 700;
}

.itensRede{
    font-size: 1.5em;

}


.fontBreve{
    font-size: 1.2em;
    margin: 12% 0;
    text-align: center;
    font-weight: 700;
}

.addItem{
    font-size: 3em;
    text-align: center !important;
}